<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="blog content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae eligendi dolorem quod dolor dolores doloribus culpa perferendis libero quibusdam ut veritatis aspernatur corrupti aliquid vel pariatur sunt beatae qui, molestias cum, modi cumque. Voluptatem facere atque quis assumenda modi? Provident explicabo porro eveniet velit doloribus assumenda odit, nemo asperiores sit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae eligendi dolorem quod dolor dolores doloribus culpa perferendis libero quibusdam ut veritatis aspernatur corrupti aliquid vel pariatur sunt beatae qui, molestias cum, modi cumque. Voluptatem facere atque quis assumenda modi? Provident explicabo porro eveniet velit doloribus assumenda odit, nemo asperiores sit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae eligendi dolorem quod dolor dolores doloribus culpa perferendis libero quibusdam ut veritatis aspernatur corrupti aliquid vel pariatur sunt beatae qui, molestias cum, modi cumque. Voluptatem facere atque quis assumenda modi? Provident explicabo porro eveniet velit doloribus assumenda odit, nemo asperiores sit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae eligendi dolorem quod dolor dolores doloribus culpa perferendis libero quibusdam ut veritatis aspernatur corrupti aliquid vel pariatur sunt beatae qui, molestias cum, modi cumque. Voluptatem facere atque quis assumenda modi? Provident explicabo porro eveniet velit doloribus assumenda odit, nemo asperiores sit.</p>


    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>